@use "../common/variables" as *;

// home
.home {
    background-image: linear-gradient(170deg, hsl(0, 0, 22%) 0%, hsl(0, 0, 6%) 30%);
    padding-bottom: 0;
}

.home__container {
    padding-top: 4rem;
    row-gap: 3.5rem;
}

.home__title,
.home__value--number {
    color: #fff;
}

.home__title {
    font-size: var(--fs-big);
    line-height: 120%;
    margin-bottom: 1.25rem;
}

.home__description {
    color: var(--text-color-light);
    margin-bottom: 2rem;
}

.home__search {
    background-color: var(--body-color);
    padding: 0.35rem 0.35rem 0.35rem 0.75rem;
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    border: 3px solid var(--text-color-light);
    margin-bottom: 2rem;
}

.home__search i {
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__input {
    width: 90%;
    background-color: var(--body-color);
    color: var(--text-color);
    margin: 0 0.5rem;
}

.home__input::placeholder {
    color: var(--text-color-light);
}

.home__value {
    display: flex;
    column-gap: 2.5rem;
}

.home__value--number {
    font-size: var(--fs-xxl);
    font-weight: var(--fw-medium);
}

.home__value--number span {
    color: var(--second-color);
}

.home__value--description {
    display: flex;
    color: var(--text-color-light);
    font-size: var(--fs-sm);
}

.home__images {
    position: relative;
    display: flex;
    justify-content: center;
}

.home__orbe {
    width: 265px;
    height: 284px;
    background-image: linear-gradient(180deg, hsl(0, 0%, 16%) 93%, hsl(0, 0%, 67%) 100%);
    border-radius: 135px 135px 0 0;
}

.home__img {
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    display: inline-flex;
    align-items: flex-end;
    bottom: -1.5rem;
    box-shadow: 0 16px 32px hsla(var(--color), 66%, 25%, 0.25);
}

// logos
.logos__container {
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
    justify-items: center;
}

.logos__img img {
    height: 60px;
    opacity: 0.2;
    transition: 0.3s;
}

.logos__img img:hover {
    opacity: 0.6;
}

// popular
.popular__container {
    padding: 1rem 0 5rem;
}

.popular__card {
    width: 290px;
    background-color: var(--container-color);
    padding: 0.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
    margin: 0 auto;
    transition: 0.4s;

    &:hover {
        box-shadow: 0 12px 16px hsla(var(--color), 66%, 45%, 0.1);
    }
}

.popular__img {
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.popular__data {
    padding: 0 1rem 0 0.5rem;
}

.popular__price {
    font-size: var(--fs-xl);
    color: var(--text-color);
    margin-bottom: 0.25rem;

    & span {
        color: var(--second-color);
    }
}

.popular__title {
    font-size: var(--fs-lg);
    margin-bottom: 0.75rem;
}

.popular__description {
    font-size: var(--fs-sm);
}

// value
.value__container {
    row-gap: 3rem;
}

.value__images {
    position: relative;
    display: flex;
    justify-content: center;
}

.value__orbe {
    width: 266px;
    height: 316px;
    background-color: hsl(var(--color), 24%, 97%);
    border-radius: 135px 135px 16px 16px;
}

.value__img {
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    inset: 0;
    margin: auto;
    box-shadow: 0 16px 32px hsla(var(--color), 66%, 25%, 0.25);
}

.value__description {
    font-size: var(--fs-sm);
    margin-bottom: 2rem;
}

.value__accordion {
    display: grid;
    row-gap: 1.5rem;
}

.value__accordion--item {
    background-color: var(--body-color);
    border: 2px solid var(--border-value);
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
}

.value__accordion--header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.value__accordion--icon {
    background-color: var(--first-color-lighten);
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 18px;
    color: var(--first-color);
    margin-right: 0.75rem;
    transition: 0.3s;
}

.value__accordion--title {
    font-size: var(--fs-sm);
}

.value__accordion--arrow {
    display: inline-flex;
    background-color: var(--first-color-lighten);
    padding: 0.25rem;
    color: var(--first-color);
    border-radius: 2px;
    font-size: 10px;
    margin-left: auto;
    transition: 0.3s;
}

.value__accordion--arrow i {
    transition: 0.4s;
}

.value__accordion--description {
    font-size: var(--fs-sm);
    padding: 1.25rem 2.5rem 0 2.75rem;
}

.value__accordion--content {
    overflow: hidden;
    height: 0;
    transition: all 0.25s ease;
}

.accordion-open {
    box-shadow: 0 12px 32px hsla(var(--color), 66%, 45%, 0.1);
}

.accordion-open .value__accordion--icon {
    box-shadow: 0 4px 4px hsla(var(--color), 66%, 45%, 0.1);
}

.accordion-open .value__accordion--arrow {
    box-shadow: 0 2px 4px hsla(var(--color), 66%, 45%, 0.1);
}

.accordion-open .value__accordion--arrow i {
    transform: rotate(-180deg);
}

// contact
.contact__container {
    row-gap: 2rem;
}

.contact__images {
    position: relative;
    display: flex;
    justify-content: center;
}

.contact__orbe {
    width: 266px;
    height: 316px;
    background-color: hsl(var(--color), 24%, 97%);
    border-radius: 135px 135px 16px 16px;
}

.contact__img {
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    inset: 0;
    margin: auto;
    box-shadow: 0 16px 32px hsla(var(--color), 66%, 25%, 0.25);
}

.contact__description {
    font-size: var(-fs-sm);
    margin-bottom: 2.5rem;
}

.contact__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem 0.75rem;
    margin: 1rem 0;

}

.contact__card--box {
    background-color: var(--body-color);
    border: 2px solid var(--border-color);
    padding: 1.25rem 0.75rem;
    border-radius: 0.5rem;
    transition: 0.3s;

    &:hover {
        box-shadow: 0 8px 24px hsla(var(--color), 66%, 45%, 0.1);
    }
}

.contact__card--info {
    display: flex;
    align-items: flex-start;
    column-gap: 0.75rem;
    margin-bottom: 1rem;
}

.contact__card i {
    padding: 6px;
    background-color: var(--first-color-lighten);
    border-radius: 6px;
    font-size: 1.25rem;
    color: var(--first-color)
}

.contact__color--title {
    font-size: var(--fs-md);
}

.contact__card--description {
    font-size: var(--fs-sm);
}

.contact__card--button {
    padding: 14px 0;
    width: 100%;
    font-size: var(--fs-xs) !important;
    border-radius: 0.25rem;
    background: var(--first-color-lighten);
    color: var(--first-color);
    font-weight: var(--fw-semi-bold);
    box-shadow: none;

    &:hover {
        background-color: var(--first-color);
        color: #fff;
    }
}

// subscribe
.subscribe {
    padding: 2.5rem 0;
}

.subscribe__container {
    background-color: var(--first-color);
    padding: 3rem 2rem;
    border-radius: 1.25rem;
    border: 6px solid var(--first-color-lighten);
    text-align: center;
}

.subscribe__title {
    font-size: var(--fs-xl);
    color: #fff;
    margin-bottom: 1rem;
}

.subscribe__description {
    color: hsl(var(--color), 90%, 92%);
    font-size: var(--fs-sm);
    margin-bottom: 2rem;
}

.subscribe__button {
    border: 2px solid #fff;
    background-color: var(--first-color-lighten);
    font-size: var(-fs-md);

    &:hover {
        background-color: var(--first-color);
    }
}